<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Number of users : <%= count %></h2>
    <a href="http://localhost:8080/user/"> See All users</a>
    <br><br>
    <form method="get" action="/user/new">
        <button>Join us today!</button>
    </form>
    
</body>
</html>