<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> this is a home page</h1>
    <h3> <%= "ppaavv".toUpperCase() %></h3>
    <h3> <%= ["heloo", "bonjuor", "konichiwa"][0] %></h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla fuga perferendis quia. Tenetur dicta et modi repellat aliquid porro? Iure repellendus praesentium velit ea architecto molestiae, tenetur nostrum. Placeat.</p>
    <button>click me</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>