/* Z index
-> decides stack level of element 
-> by defalut z index is auto i.e 0
-> can only be set for those elements for whihc we have given a postion
-> cant set z index for position = static or default
-> 2 > 1
*/
.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}
.one{
    background-color: aquamarine;
    /* position:relative;
    z-index: 1; */
}
.two{
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
    z-index: -1;
}