<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h3>Edit your post </h3>
    <h3>Username: @<%= post.username %></h3>
    <p>Post Id: <%= post.id %></p>
    <form method="POST" action="/posts/<%= post.id %>?__method=PATCH">
        <textarea placeholder="enter post content" rows="10" cols="50" name="content" ><%= post.content %></textarea>
        <br><br>
        <button>Edit Post</button>
    </form>
    
</body>
</html>